body {
  background: linear-gradient(45deg, #1d1d1d, #6DADDB);
  height: 100vh;
}

.hero-img {
  display: block;
  width: 150px;
  height: 150px;
  background-image: url(images/headshot.jpg);
  background-size: cover;
  background-position-x: -50px;
  border-radius: 50%;
  margin: 80px auto 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: white;
}

h3 {
  text-align: center;
  font-size: 16px;
  color: white;
}

.btn-container {
  width: 80%;
  margin: 20px auto;
}

.btn {
  height: 60px;
}
